@{
  Layout = "_Layout";
}

   <form action="/cars" method="post">
     <label for="make">Add a new car make</label>
     <input id="make" name="make" type="text">
     <label for="model">Add the car model</label>
     <input id="model" name="model" type="text">
     <label for="vin">Add the car's vin</label>
     <input id="vin" name="vin" type="text">
     <label for="year">Add the cars year</label>
     <input id="year" name="year" type="text">
     <label for="price">Add a price</label>
     <input id="price" name="price" type="text">
     <button type="submit">Add car to the list</button>
   </form>
    